@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  @apply bg-blacky font-font-spring;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "Neue-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/NeueMontreal-Regular.otf') format("opentype");
  }

  @font-face {
    font-family: "Neue-Bold";
    /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
    src: url('/fonts/NeueMontreal-Bold.otf') format("opentype");
  }

  @font-face {
    font-family: "Neue-Light";
    /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
    src: url('/fonts/NeueMontreal-Light.otf') format("opentype");
  }

  @font-face {
    font-family: "FontSpring";
    /* font-weight: 700;
    font-display: swap; */
    src: url('/fonts/Fontspring-DEMO-rocgroteskwide-medium.otf') format("opentype");
  }

  @font-face {
    font-family: "FontSpring-Light";
    /* font-weight: 700;
    font-display: swap; */
    src: url('/fonts/fontspring-demo-light.otf') format("opentype");
  }

  input:-webkit-autofill {
    border-color: green; /* Change border color */
    background-color: yellow; /* Change background color */
  }
}



